@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo app. Sources are at 
        <a href="https://github.com/maisak/actions" target="_blank">Github repository</a>.
    </p>
    <p>App version is @Model.Version</p>
</div>